<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyArUsyR4uT-7Qq7F5ifhRelKVx_Kk2PLCc</string>
	<key>GCM_SENDER_ID</key>
	<string>959161754989</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.loginandsignup</string>
	<key>PROJECT_ID</key>
	<string>fir-flutter-5fe2d</string>
	<key>STORAGE_BUCKET</key>
	<string>fir-flutter-5fe2d.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:959161754989:ios:6819f70d0dc4cb55dba664</string>
</dict>
</plist>